@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <a href="C:\Users\Net\Desktop\ZZB\ZZB\ZZB.WebMVC.Core\StaticFile\Index.cshtml">C:\Users\Net\Desktop\ZZB\ZZB\ZZB.WebMVC.Core\StaticFile\Index.cshtml</a>

    <h2>我是静态文件下的cshtml ; 我的路径是：\StaticFile\Index.cshtml</h2>
