<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

    <li class="nav-item menu-open">
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/File/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>文件管理</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item menu-open">
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/weixin/mermber/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>微信用户</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                微信管理
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/weixin/mermber/Index" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>微信用户</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/weixin/menu/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>菜单设置</p>
                </a>
            </li>
        </ul>
    </li>

    @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    文件管理
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>上传</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index2.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>导入</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index3.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                </li>
            </ul>
        </li>*@

</ul>